html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

button {
    background: lightgray;
    border: 1px solid grey;
    border-radius: 5%;
    border: none;
    margin: 6px;
    font-size: 1.2em;
    
}

.calc-container {
    width: 400px;
    height: 600px;
    background: darkslategray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);

    grid-template-areas:    'history history history history'
                            'input input input input'
                            'clearB clearB backB backB'
                            'sevenB eightB nineB divide'
                            'fourB fiveB sixB multi'
                            'oneB twoB threeB plus'
                            'deci zeroB equals minus'
}

#clear-button {
    grid-area: clearB;
    background: #FB3C3C;
}

#backspace-button {
    grid-area: backB;
    background: #FB933C;
}

#history-screen {
    color: white;
    margin: auto 0;
    padding-right: 5px;
    grid-area: history;
    text-align: right;
    font-size: 1.5rem;
}

#input-screen {
    color: white;
    border-top: 2px solid white;
    margin: auto 0;
    padding-right: 5px;
    grid-area: input;
    font-size: 2.5rem;
    text-align: right;
    font-weight: bold;
}

.number-button {

}

.operator-button {
    background: #41ADAD;
}

#button-0 {
    grid-area: zeroB;
}

#button-1 {
    grid-area: oneB;
}

#button-2 {
    grid-area: twoB;
}

#button-3 {
    grid-area: threeB;
}

#button-4 {
    grid-area: fourB;
}

#button-5 {
    grid-area: fiveB;
}

#button-6 {
    grid-area: sixB;
}

#button-7 {
    grid-area: sevenB;
}

#button-8 {
    grid-area: eightB;
}

#button-9 {
    grid-area: nineB;
}

#divide-button {
    grid-area: divide;
}

#multiply-button {
    grid-area: multi;
}

#add-button {
    grid-area: plus;
}

#minus-button {
    grid-area: minus;
}

#decimal-button {
    grid-area: deci;
}

#equals-button {
    background: #30c930;
    grid-area: equals;
}

.decimal-clicked {
    background: yellow;
}